API/.vscode
API/com.debtcalculator.API/bin
API/com.debtcalculator.API/obj
API/com.debtcalculator.Config/bin
API/com.debtcalculator.Config/obj
API/com.debtcalculator.Data/bin
API/com.debtcalculator.Data/obj
API/com.debtcalculator.Domain/bin
API/com.debtcalculator.Domain/obj
API/com.debtcalculator.API/logs
API/com.debtcalculator.Services/obj
API/com.debtcalculator.Services/bin
