<h4 class="mb-3">Alterar senha</h4>
<form novalidate [formGroup]="changePasswordForm">
  <div class="form-group row">
    <label class="col-12 col-sm-3 mt-2">Email:</label>
    <div class="col-12 col-sm-9">
      <input class="form-control" placeholder="" type="text" formControlName="email">
      <span class="help-block text-danger" *ngIf="!changePasswordForm.controls['email'].value">
        O campo é obrigatório!</span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-3 mt-2">Senha atual:</label>
    <div class="col-12 col-sm-9">
      <input class="form-control" placeholder="" type="password" formControlName="password">
      <span class="help-block text-danger" *ngIf="!changePasswordForm.controls['password'].value">
        O campo é obrigatório!</span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-3 mt-2">Nova senha:</label>
    <div class="col-12 col-sm-9">
      <input class="form-control" placeholder="" type="password" formControlName="newPassword">
      <span class="help-block text-danger" *ngIf="!changePasswordForm.controls['newPassword'].value">
        O campo é obrigatório!</span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-3 mt-2">Confirmar nova senha:</label>
    <div class="col-12 col-sm-9">
      <input class="form-control" placeholder="" type="password" formControlName="confirmNewPassword">
      <span class="help-block text-danger" *ngIf="!changePasswordForm.controls['confirmNewPassword'].value">
        O campo é obrigatório!</span>
      <span class="help-block text-danger"
        *ngIf="changePasswordForm.controls['confirmNewPassword'].value && changePasswordForm.errors?.invalid">
        Senhas não conferem!</span>
    </div>
  </div>
</form>
<button class="btn btn btn-success mb-3 mt-3" type="submit" [disabled]="changePasswordForm.invalid"
  (click)="changePassword()">
  <fa-icon [icon]="faSave" class="mr-1"></fa-icon>
  Salvar
</button>
<button class="btn btn btn-secondary mb-3 mt-3 ml-2" type="submit" [routerLink]="['/']">
  <fa-icon [icon]="faWindowClose" class="mr-1"></fa-icon>
  Cancelar
</button>
